<div class="container p-10">
  <h1> Mes cocktails  </h1>
    <button type="button" class="btn btn-light"><%= link_to 'Créer un cocktail', new_cocktail_path(@cocktail) %></button>
      <div class="d-flex row">
        <% @cocktails.each do |cocktail|  %>
          <div class="card m-10" style="width: 18rem;">
              <img class="card-img-top" src="https://source.unsplash.com/180x100/?cocktail" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> <%= cocktail.name %></h5>
              <p class="card-text"></p>
              <button class="btn btn-light"><%=link_to 'Lire la recette', cocktail_path(cocktail), class: "index-link" %></button>
            </div>
          </div>
        <% end %>
      </div>
</div>

